body{
    background-color: #333;
}
.dice-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  /* .dice-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */
  
  .dice {
    width: 20em;
    height: 20em;
    margin: 10px;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    border: 10px solid white;
    border-radius: 5px;
  }
  
  .dice.locked {
    border: 10px solid red;
  }

  #reroll-button {
    width: 5em;
    height: 5em;
    margin: 20px auto;
    display: block;
    font-size: 64px;
    padding: 10px 20px;
    background-color: #02a01f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  